.login_form{
    min-height: 100vh;
    height: 100vh;
    background-color: #afaafa;
    background-image: url('../../images/bg1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container{
    height: 450px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}
.form_container h1{
    color: #3e0b2a;
    text-transform: uppercase;
    font-weight: bold;
}
.mylform{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.input_field{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 30px;
    width: 100%;
}
.input_field label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #000000;
}
.input_field input{
    height: 100%;
    width: 90%;
    padding-left: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid #3e0b2a;
    background-color: transparent;
    color: #3e0b2a;
    font-size: 20px;
}
.input_field input::placeholder{
    color: #cf3958;
}
.lbtn{
    height: 40px;
    width: 150px;
    font-size: 20px;
    background-color: #cf3958;
    color: #3e0b2a;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: 1s;
}
.lbtn:hover{
    background-color: #3e0b2a;
    color: #cf3958;
}
.mylform span{
    height: 5px;
    position: relative;
    color: red;
  }